
<div data-update="content" data-title="jUpdate" data-address="/">

    <h2>Benefits</h2>
    <p>
        jUpdate offers a markup-driven approach to web application development.  The basic web has always used this approach, thus making it very easy
        to create basic websites.  Click a link, and the browser automatically makes a request 
    </p>
    
    <p>
        <ul class="checklist">
            <li>Simple, Markup-driven behaviors</li>
            <li>Based on conventions, but highly configurable</li>
            <li>Reduce code counts and development efforts</li>
            <li>Low learning curve</li>
            <li>HTML5 compliant</li>
            <li>Build single-page, full-Ajax applications</li>
            <li>Back/Front button support</li>
            <li>Deep-linking, new tab/window support</li>
            <li>Unobtrusive JavaScript</li>
            <li>Web server agnostic</li>
            <li></li>
        </ul>
    </p>
    
</div>
