
<div data-update="content" data-title="Dependencies">
  
    <p>
        Sync JS also allows you to dynamically load and execute dependent scripts as needed.  Only load what's needed, when needed.  
        You can associate scripts with HTML content, and also execute callbacks when the content is loaded.
    </p>
    <hr />
    <hr />

    <!--Inline Script-->
    <h2>Inline Scripts</h2>
    <hr />
    <label>Server Response</label>
    <pre class="brush: xml;">
        <scriptt>alert("The request returned a script tag which was executed.")</scriptt>
    </pre>
    <p>
        <a href="/Scripts/InlineScript">Make request with inline script</a>
    </p>
    
    <hr class="line"/>

    <!--Script Loading-->
    <h2>On-Demand Script Loading</h2>
    <p>
        Scripts can be associated with HTML elements via the <em>data-load="{script}"</em> attribute. When the element is updated in the page,
        the associated script is lazy-loaded.  You can load multiple scripts separated by commas: <em>data-load="{script1}, {script2}"</em>
    </p>
    <p>
        Note that the script location can be set via <em>config.scriptPath</em> so that all scripts are requested from the same location.   
        So instead of "/Content/Scripts/Dependency1.js", you can just set the value of scriptPath to "/Content/Scripts/" in the config, 
        and use "Dependency1.js" for the attribute value.
    </p>
    <hr />
    <label>Server Response</label>
    <pre class="brush: xml;">
        <div id="div-with-load" data-update="replace" data-load="Dependency.js">
            This div was just loaded and a dependent script was run.
        </div>

        <!-- Inline script ran after dependency is loaded -->
        <scriptt>
            dependentFunction();
        </scriptt>    
    </pre>
    <p>
        <a href="/Scripts/Load">Update with dependency</a>
    </p>
    <br />
    <div id="div-with-load" class="orange-div">
        This div should be replaced.  Dependent scripts should be loaded via a data attribute.
    </div>

    <hr class="line"/>

    <!--Callbacks-->
    <h2>Callbacks</h2>
    <p>
        Once an update occurs, a callback can also be executed via the data-callback attribute.  
        The call back can be a global function or namespaced.  Also note that the context (this keyword) is
        a jQuery object representing the HTML update.
    </p>
    <label>Server Response</label>
    <pre class="brush: xml;">
        <div id="callback-div" data-update="replace" data-load="Callback.js" data-callback="CallbackController.init">
            This div was just loaded and a callback was ran.  
        </div>
    </pre>
    <label>Lazy-Loaded Script File - Callback.js</label>
    <pre class="brush: js;">
        var CallbackController = {
    
            //Callback function
            init: function () {
                alert("The dependency Callback.js was loaded and the function 'init' has been run.");
                //The 'this' keyword refers to the updates jquery object
                this.append("<b>This element was added by the callback.</b>");
            }

        }
    </pre>
    <p>
        <a href="/Scripts/Callback">Make Request with callback</a>
    </p>
    <div id="callback-div" class="orange-div">
        This div should be replaced and then a callback is run
    </div>

    <hr />

</div>
