
<!-- Dependent script loaded before update -->
<div id="div-with-load" data-update="replace" data-load="Dependency.js" class="green-div">
    This div was just loaded and a dependent script was run.
</div>

<!-- Inline script ran after dependency is loaded -->
<script>
    dependentFunction();
</script>
