
<div id="callback-div" data-update="replace" data-load="Callback.js" data-callback="CallbackController.init" class="after-update-style">
    This div was just loaded and a callback was ran.  
</div>

 