@{
    ViewBag.Title = "Links";
}

<div data-update="content" data-title="@ViewBag.Title">

    <h2>Relative Links</h2>
    <p>All relative links should have event attached automatically (hijaxed).</p>
    <a href="/Home/About">/Home/About</a>
    <br /><br />


    <h2>External Links</h2>
    <p>All external links should be ignored by the plugin.  They should also open in a new window. (target="_blank")</p>
    <a href="http://www.google.com">http://www.google.com</a>
    <br /><br />

    <hr />

    <h2>Relative Links - New Window</h2>
    <p>All relative links with target="_blank" should open in new window.</p>
    <a href="/Home/About" target="_blank">/Home/About - target="_blank"</a>
    <br /><br />

    <h2>Redirect</h2>
    <p>You can also manually redirect to a page.</p>
    <a href="javascript:Sync.redirect('http://www.yahoo.com');">Sync.redirect('...')</a>
    <br /><br />

    <br /><br />
    <p>Note that all links can be hijaxed, or only selective ones via data-ajax="true".  
    Also note that links are automatically converted to "ajax links" with hash URLs.</p>

</div>