
<div id="multi-update-div" data-update="replace" class="after-update-style">
    This element replaced the previous element
</div>

<div data-update="window" data-title="Multiple Updates">
    <h4>Multiple updates can be sent in a single response.</h4>  
</div>
