
<div data-update="content" data-title="Home" data-address="/">

    <h2>Benefits</h2>
    <p>
        Sync JS offers a markup-driven approach to web application development.  The basic web has always used this approach, thus making it very easy
        to create basic websites.  Click a link, and the browser automatically makes a request 
    </p>
    
    <p>
        <ul class="checklist">
            <li>Simple, Markup-driven behaviors</li>
            <li>Based on conventions, but highly configurable</li>
            <li>Reduce code counts and development efforts</li>
            <li>Low learning curve</li>
            <li>HTML5 compliant</li>
            <li>Build single-page, full-Ajax applications</li>
            <li>Back/Front button support</li>
            <li>Deep-linking, new tab/window support</li>
            <li>Unobtrusive JavaScript</li>
            <li>Web server agnostic</li>
            <li>Built on jQuery</li>
        </ul>
    </p>

    <hr class="line"/>

    <h3>Hello World</h3>
    
    <pre class="brush: xml">
        <!DOCTYPE html>
        <html>
            <head>
                @*<script src="/Scripts/jQuery.js" type="text/javascript"></script>
                <script src="/Scripts/Sync.js" type="text/javascript"></script>
                <script src="/Scripts/Sync.Init.js" type="text/javascript"></script>*@
            </head>
            <body>
                <div id="content">
                    Replace this content       
                </div>
            </body>
        </html>

        <div data-update="content">
            Hello World!
        </div>
    </pre>

</div>