
<div data-update="content" data-title="Templates">
    
    <h3>Basic Example</h3>
    <pre class="brush: xml;">
        <div data-template="task-list">
            Count: <%= this.length %>
            <ul>
                <%= Sync.renderAll("task-row", this) %>
            </ul>
        </div>

        <li data-template="task-row">
            <%= this.Title %> - <%= this.Priority %>
        </li>
    </pre>
    <br/>
    <pre class="brush: js;">
        //Data
        var data = [
            { TaskID: 1, Title: "Task 1", Priority: "High" },
            { TaskID: 2, Title: "Task 2", Priority: "Normal" },
            { TaskID: 3, Title: "Task 2", Priority: "Low" }
        ];
    
        //Render template
        var output = Sync.render("task-list", data);
    
        //Output html
        $("#template-output").html(output);  
    </pre>
    <br/>
    <p id="template-output" class="before-update-style">
        Template will be rendered here
    </p>
    <a href="/Templates/Basic">View Task List</a>

    <hr class="line"/>

    <h3>Remote Data</h3>
    <p id="remote-data-div" class="before-update-style">
        Template will be rendered here
    </p>
    <a href="/Tasks">View Task List</a>

</div>
