
<div data-update="content" data-title="Content Update" data-address="/Update/Content" class="center">

    <h1>Main Content Updated!</h1>
    <hr/>
    <h6>The main content area, page title and address has been updated.</h6>
    <hr/>
</div>