
<div id="multi-update-div" data-update="replace" class="green-div">
    This element was updated first
</div>

<div data-update="window" data-title="Multiple Updates">
    This element was updated next  
</div>  
