
<div data-update="subrow">

    <table class="grid">
        <caption>
            Child Table
            <span class="close-button" data-close="true"/>
        </caption>
        <tr>
            <td><a href="/Updates/SubRow">Some Data</a></td>
            <td>123</td>
            <td>1/7/2010</td>
        </tr>                   
        <tr>
            <td><a href="/Updates/SubRow">Some Data</a></td>
            <td>123</td>
            <td>1/7/2010</td>
        </tr>        
    </table>
    
</div>