
<div data-template="todo-list-delimiters" data-update="insert" data-target="#remote-data-div">
    Count: <b>{{= this.length }}</b>
    <ul>
        {{= Sync.renderAll("todo-row", this) }}
    </ul>
</div>

<li data-template="todo-row">
    <h6>{{= this.Title }}</h6> - {{= this.Priority }}
</li>

<script>

    //Change delimiters
    Sync.config.templateDelimiters = ["{{", "}}"];

    //Data
    var data = [
            { Title: "Todo 1", Priority: "High" },
            { Title: "Todo 2", Priority: "Normal" }
        ];

    //Render template
    var output = Sync.render("todo-list-delimiters", data);

    //Output html
    $("#delimiter-output-div").html(output);

    //Back to normal
    Sync.config.templateDelimiters = ["<%", "%>"];
    
</script>