
<div data-template="todo-list-remote" data-update="insert" data-target="#remote-data-div">
    Count: <b><%= this.length %></b>
    <ul>
        <%= Sync.renderAll("todo-row", this) %>
    </ul>
</div>

<li data-template="todo-row">
    <h6><%= this.Title %></h6> - <%= this.Priority %>
</li>