
<div data-update="content" data-title="Hello World" class="center">

    <h1>Hello World!</h1>
    <hr/>
    <h6>The main content area, page title and address has been updated.</h6>
    <hr/>

</div>