<!DOCTYPE html>
<html>
<head>
    
    <title>Sync JS - JavaScript Framework</title>      
    <link href="/Images/Icon.png" rel="shortcut icon" type="image/x-icon" />

    <!--Styles-->
    <link href="/Styles/Text.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/Forms.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/Layout.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/UI.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/Page.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/jQuery.UI.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/jQuery.jGrowl.css" rel="stylesheet" type="text/css" />  
    
    <!--jQuery-->
    <script src="/JavaScripts/jQuery.js" type="text/javascript"></script>

    <!--Sync-->
    <script src="/JavaScripts/Sync.js" type="text/javascript"></script>
    <script src="/JavaScripts/Sync.Init.js" type="text/javascript"></script>
    <script src="/JavaScripts/Sync.Routes.js" type="text/javascript"></script>
    <script src="/JavaScripts/Sync.Updaters.js" type="text/javascript"></script>
    <script src="/JavaScripts/Sync.Providers.js" type="text/javascript"></script>
    
    <!--jQuery Plugins-->
    <script src="/JavaScripts/jQuery.UI.js" type="text/javascript"></script>
    <script src="/JavaScripts/jQuery.jGrowl.js" type="text/javascript"></script>
    
    <!--Local Storage-->
    <script src="/JavaScripts/Amplify.js" type="text/javascript"></script>
    <script src="/JavaScripts/JSON2.js" type="text/javascript"></script>
    
    <!--Syntax highlighting-->
    <link href="/Styles/shCore.css" rel="stylesheet" type="text/css" />    
    <link href="/Styles/shCoreDefault.css" rel="stylesheet" type="text/css" />    
    <script src="/JavaScripts/shCore.js" type="text/javascript"></script>    
    <script src="/JavaScripts/shBrushJScript.js" type="text/javascript"></script>
    <script src="/JavaScripts/shBrushXml.js" type="text/javascript"></script>
    <script src="/JavaScripts/shBrushRuby.js" type="text/javascript"></script>

    <!--Preloaded for debugging purposes-->
    <script src="/JavaScripts/Todos.js" type="text/javascript"></script>

</head>
<body>
    <div id="page">
        <div id="header" class="nav">
            <div>
                <div id="header-lt">
                    <h1>Sync JS</h1>
                    <span>BETA</span>
                </div>
                <div id="header-ct">
                    JavaScript Framework for Dynamic Web Applications
                </div>
                <div id="header-rt">
                    <a href="https://github.com/exsurgo/SyncJS">Source (GitHub)</a>
                </div>
            </div>
        </div>
        <div id="menu">
            <div>
                <ul class="menu-tabs">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Basics">Basics</a></li>
                    <li><a href="/Updates">Updates</a></li>
                    <li><a href="/Templates">Templates</a></li>
                    <li><a href="/Scripts">Scripts</a></li>
                    <li><a href="/Providers">Providers</a></li>
                    <li><a href="/Metadata">Metadata</a></li>
                    <li><a href="/Events">Events</a></li>
                    <li><a href="/SEO">SEO</a></li>
                    <li><a href="/API">API</a></li>
                </ul>
            </div>
        </div>
        <div id="content" data-content="true">
            @RenderBody()
        </div>
        <hr/><hr/><hr/>
    </div>
    <div id="footer" class="nav">
        Sync JS
    </div>
</body>
</html>
