
<!-- Dependent script loaded before update -->
<div id="div-with-dependency-attr" data-update="replace" data-load="Dependency2.js" class="after-update-style">
    This div was just loaded and a dependent script was run.
</div>

<!-- Inline script ran after dependency is loaded -->
<script>
    dependentFunction2();
</script>
