
/* update sample styles */
.before-update-style { border: 2px dashed orange; padding: 4px; margin: 4px; }
.after-update-style { border: 2px dashed green; padding: 4px; margin: 4px; }

/* syntax highlighter */
.syntaxhighlighter { border: 2px dashed #eeeeee; }

/* code */
em { font-family: "Courier"; font-style: normal; font-size: 1.1em; }