
<div data-template="todo-list">
    Count: <b><%= this.length %></b>
    <ul>
        <%= Sync.renderAll("todo-row", this) %>
    </ul>
</div>

<li data-template="todo-row">
    <h6><%= this.Title %></h6> - <%= this.Priority %>
</li>
        
<script>

        //Data
        var data = [
            { TodoID: 1, Title: "Todo 1", Priority: "High" },
            { TodoID: 2, Title: "Todo 2", Priority: "Normal" },
            { TodoID: 3, Title: "Todo 3", Priority: "Low" }
        ];

        //Render template
        var output = Sync.render("todo-list", data);

        //Output html
        $("#template-output").html(output);   

</script>
