
<div data-template="task-list" data-update="insert" data-target="#remote-data-div">
    Count: <b><%= this.length %></b>
    <ul>
        <%= Sync.renderAll("task-row", this) %>
    </ul>
</div>

<li data-template="task-row" id="task-list<%= this.ID %>">
    <h6><%= this.Title %></h6> - <%= this.Priority %>
</li>